<div class="contain">
    <h2>
        Batch Details:
 
         <button
           type="button"
           style="float: right"
           class="btn btn-info btn-sm btn-primary"
           data-toggle="modal"
           data-target="#modal-info">
           <i class="fas fa-plus"></i> Add student
         </button>
       </h2>

          <!-- //Table fields -->
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
            <th scope="col">Batch Id </th>
          <th scope="col">Batch Name</th>
          <th scope="col">Batch time</th>
            <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let batch of batches">
            <td scope="row">{{ batch.batch_id }}</td>
          <td scope="row">{{ batch.batch_name}}</td>
          <td scope="row">{{ batch.batch_time }}</td>
         
          <td scope="row">
            <button
              class="btn btn-outline-success">
              View
            </button>
            <button
              class="btn btn-outline-warning">
              Edit
            </button>
            <button
              class="btn btn-outline-danger">
              Delete
            </button>
           
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    
 
</div>

